:host{
  width: 320px;
  /* display: flex; */
  /* flex-direction: column; */
  /* border: 3px red solid; */
  /* border-radius: 15px; */
  height: auto;
  height: fit-content;
  /* overflow: hidden; */
  overflow-x: hidden;
}

.border-white{
  position: absolute;
  top: 0;
  /* left: 0; */
  width: 320px;
  height: 100%;
  border: 3px solid #fff;
  box-sizing: border-box;
  z-index: 900000;
  pointer-events: none;
  border-radius: 15px;
  /* height: 100vh; */
  height: 1999px;
}

@media screen and (min-width: 767px) and (max-width: 1512px) {
  :host{
    max-width: 768px;
    display: flex;
    flex-direction: column;
  }
}
