/*  Import Google Fonts (Change to your designer's fonts) */

@font-face {
  font-family: 'Gotham-heading';
  src: url('assets/tipography/Gotham/Gotham-Font/Gotham-Black.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/tipography/Gotham/Gotham-Font/Gotham-Bold.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-light';
  src: url('assets/tipography/Gotham/Gotham-Font/Gotham-Light.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-italic';
  src: url('assets/tipography/Gotham/Gotham-Font/Gotham-BookItalic.otf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-italic-bold';
  src: url('assets/tipography/Gotham/Gotham-Font/GothamBoldItalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-book';
  src: url('assets/tipography/Gotham/Gotham-Font/GothamBook.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham-medium-italic';
  src: url('assets/tipography/Gotham/Gotham-Font/GothamMediumItalic.ttf') format('truetype');
  font-weight: medium;
}


/*Reset & Base Styles (Optional but recommended) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham-heading', sans-serif;
  color: var(--text-color);
  line-height: 1.2;
  font-weight: 600;
}

p{
  font-family: 'Gotham-light', sans-serif;
}

/* Buttons */
button,
.btn {
  border: none;
}

/* Sections (Spacing and Containers) */
/* section {
  padding: 4rem 1rem;
} */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive Utilities */
/* @media (max-width: 768px) {
  section {
    padding: 2rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
} */

/* Optional Scroll Behavior */
html {
  scroll-behavior: smooth;
}

